/* Agrega aquí tus estilos específicos para la página de carrito */

#cart-content {
    padding: 20px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.cart-item img {
    max-width: 100%;
    height: auto;
}

/* Puedes agregar más estilos según sea necesario */
