body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
}

nav ul li a:hover {
    color: #ffcc00;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 200px;
}

.submenu-parent:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 10px 0;
}

.submenu a {
    color: #fff;
    text-decoration: none;
}

#accessories-content {
    padding: 20px;
}

#accessories-content h2 {
    color: #333;
}

#accessories-content p {
    margin-bottom: 20px;
}

.accessory {
    text-align: center;
    margin-bottom: 20px;
}

.accessory img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.accessory h3 {
    margin-top: 10px;
}

.accessory a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.accessory a:hover {
    background-color: #ffcc00;
}

/* Otros estilos según tus necesidades */
